//parameters for mutect2

// want GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18_noChr.fasta-index.tar.gz (as set up currently for tar)
params.mutect2_fasta_index_tar = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-Gb772VQ4XGyzQ0Zk615XbZ0X"
params.gatkResource = "dx://project-F3zqGV04fXX5j7566869fjFq:file-F3zvKp84fXX8qJx43zZXP395"  //b38.gatk.resource.bundle.tar.gz
params.bam_path = "" //file path where all bam files are located


// picard parameters

params.fasta_index_tar = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-Gb772VQ4XGyzQ0Zk615XbZ0X" //GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18_noChr.fasta-index.tar.gz
params.bedfile = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Ggv2k384jVYB0JX1Gjp669Bz" // Probes_GRCh38_HaemOnc_v2.1.bed
params.run_CollectMultipleMetrics = "true"
params.run_CollectHsMetrics = "true"
params.run_CollectTargetedPcrMetrics = "false"
params.run_CollectRnaSeqMetrics = "false"
params.ref_annot_refflat_path = ""

// samtools parameters
// no extra

// vcf_handler parameters

params.mutec2_vcf_path = ""
params.pindel_vcf_path = ""

params.mutec2_bed = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-GjBYbJ04qv8jp7Q0zQ4PX0f4" // coding_unrestricted_GRCh38_myeloid_5bp_flank_v2.1.0.bed
params.pindel_bed = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Gj6YXj84qv8YV5Z3yb2Zk6Pg" // pindel_cgppindel_filtering_coordinates_v1.1.bed
params.mutec2_fasta = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-GjPxXq84qv8xz3ZV1jFq6z3g" //GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18_noChr.fa.gz
params.mutec2_fai = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-GjPxp3Q4qv8Vk76xFVjfyPgJ" // GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18_noChr.fa.fai
params.vep_docker_image = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G61zff8433Gy2KQX7Q2z150B" // vep_v103.1_docker.tar.gz
params.vep_plugins = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-G61zfvj433GxkQXF414xP1yF,file-G620928433Gy9p2b27zb8JFV}"
params.vep_refs = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-G61y95Q433Gk05zyFKF9kFv2,file-G61yBV8433GjbVj022PyV3K5,file-G61yBf0433Gp4BBVGj0jxqvP,file-G61yF38433GQgP504Px5PZ4G}"
params.vep_annotation = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-GpBKp484bJ6qKK96bPpFz5qz,file-GpBKx804J7Q3kjg5pZpB4gX0,file-G61xbP0433GqX36p8QQxP3PV,file-G61xf3j433Gz49jf6XjKG4F0,file-G61xfZ0433Gj2vJ7P8k9ky2Z,file-G61y4Y8433GvyjJ52Fj5XjY5,file-Gf02Fxj4Pj2vPPV0zyfpbFkz,file-Gf02JgQ4Pj2xZg2b1g9pVV7g,file-Gf02Jj04Pj2ZPxF97V6YJFKv,file-Gf02KG84Pj2QB86kK721B9yQ}"
params.maf_file = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Gj6YQg84qv8v2J1XKJy4fQYg" // haemonc_1706_samples_withoutchr.vcf.gz
params.maf_file_tbi = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Gj6YQg84qv8Z3F4J8fX7YK6V" // haemonc_1706_samples_withoutchr.vcf.gz.tbi
params.python_packages = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-G24fgQ0433GZypfk9vg5PVbg,file-G24fgb0433GYfXyF9x7G136K,file-G24fgjQ433Gv4VF49vx125bx,file-G24fgPQ433Gg8y8KGBbB7b6Y}"
params.outdir = "."

// verifybamID parameters

params.vcf_file = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G7YKFZj4kj47GxgQ2bKGYV1g" //Omni25_genotypes_1525_samples_v2.b38.PASS.ALL.sites_no_chr.vcf.gz




//machine type
process {
    withName:TNHaplotyper2 {
        machineType = 'mem1_ssd1_v2_x36'
    }
    withName:VCF_HANDLER {
        machineType = 'mem1_ssd1_v2_x36'
    }
}

//parallel run
executor {
    queueSize = 99
}
