//parameters for mutect2

params.gatkResource = "dx://project-F3zqGV04fXX5j7566869fjFq:file-F3zvKp84fXX8qJx43zZXP395"  //b38.gatk.resource.bundle.tar.gz
params.bam_path = "" //file path where all bam files are located


// picard parameters

params.fasta_index_tar = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fy4j2G04qB6zQK885B5Q8Pqp"
params.bedfile = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G9vKbv0433GjJv1j7gp0P9vx"
params.run_CollectMultipleMetrics = "true"
params.run_CollectHsMetrics = "true"
params.run_CollectTargetedPcrMetrics = "false"
params.run_CollectRnaSeqMetrics = "false"
params.ref_annot_refflat_path = ""

// samtools parameters
// no extra

// vcf_handler parameters

params.mutec2_vcf_path = ""
params.pindel_vcf_path = ""

params.mutec2_bed = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G9vKbv0433Gg2bP9GP72pxKJ"
params.pindel_bed = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G0bFvXQ433GZJq780QgxZxKf"
params.mutec2_fasta = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fy4gjFj41zgGjKJ85FYYPX4q"
params.mutec2_fai = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-FyFGvzQ41zgBq7xf4Gy9Q28g"
params.vep_docker_image = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G61zff8433Gy2KQX7Q2z150B"
params.vep_plugins = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-G61zfvj433GxkQXF414xP1yF,file-G620928433Gy9p2b27zb8JFV}"
params.vep_refs = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-G61y95Q433Gk05zyFKF9kFv2,file-G61yBV8433GjbVj022PyV3K5,file-G61yBf0433Gp4BBVGj0jxqvP,file-G61yF38433GQgP504Px5PZ4G}"
params.vep_annotation = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-G61xXjj433GzPf7Q45Z7pf2z,file-G61xXyj433Gz7Bx5P8j7zbGy,file-G61xbP0433GqX36p8QQxP3PV,file-G61xf3j433Gz49jf6XjKG4F0,file-G61xfZ0433Gj2vJ7P8k9ky2Z,file-G61y4Y8433GvyjJ52Fj5XjY5,file-G64Jfk0433GVp0JJPZ4Q8FzJ,file-G64K4bj433GZ35xJJ7YXGvzv,file-G64K0VQ433GV03462J6GXb9Z,file-G64K4j8433Gb0PgpFgbzjj1b}"
params.maf_file = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G5PXK90433GjKFq70yfz9qfZ"
params.maf_file_tbi = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G5PXKFj433Gv495095Z95pk1"
params.python_packages = "project-Fkb6Gkj433GVVvj73J7x8KbV:{file-G24fgQ0433GZypfk9vg5PVbg,file-G24fgb0433GYfXyF9x7G136K,file-G24fgjQ433Gv4VF49vx125bx,file-G24fgPQ433Gg8y8KGBbB7b6Y}"
params.outdir = "."

// verifybamID parameters

params.vcf_file = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G08V2gj41zgGYp1K79YZXqx8"




//machine type
process {
    withName:TNHaplotyper2 {
        machineType = 'mem1_ssd1_v2_x36'
    }
    withName:VCF_HANDLER {
        machineType = 'mem1_ssd1_v2_x36'
    }
}

//parallel run
executor {
    queueSize = 99
}
